<?xml version="1.0" encoding="UTF-8"?>
<suite name="Testathon Automation Suite" verbose="1" parallel="tests" thread-count="3">

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Products Tests">
        <classes>
            <class name="tests.ProductsTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>

    <test name="End to End Tests">
        <classes>
            <class name="tests.EndToEndTest"/>
        </classes>
    </test>

</suite>